!diffparc/config
!diffparc/config/*
!diffparc/resources
!diffparc/resources/*
!diffparc/workflow
!diffparc/workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
.snakemake
__pycache__
